<form name="addedStudent" class="list-space input-group" novalidate>
  <input name="studentName"
        type="text"
        ng-model="student.name"
        class="student-name form-control"
        placeholder="Name"
        required
        aria-label="student name"
        aria-required="true"
        required>

  <!-- @TODO: Replace weird bootstrap hacks like this with straight css -->
  <span class="input-group-btn student-input-mod"></span>

  <input name="studentScore"
        type="number"
        ng-model="student.score"
        class="student-score form-control"
        ng-class="{failing: student.score < 65}"
        placeholder="Score"
        aria-label="student score"
        aria-required="true"
        required>

  <!-- Same as above -->
  <span class="input-group-btn student-input-mod"></span>

  <span class="input-group-btn">
    <button class="btn btn-danger modify-student" ng-click="removeStudent($index)" aria-label="Remove">X</button>
  </span>
</form>

  <ul class="warnings">
    <li ng-show="addedStudent.studentName.$dirty && addedStudent.studentName.$invalid">
      Invalid: Please write a student name
    </li>
    <li ng-show="addedStudent.studentScore.$dirty && addedStudent.studentScore.$invalid">
      Invalid: Please input a number for the student score
    </li>
  </ul>
